# Config Files
.vscode/
config.yml

# Data Files
data/

# Debug Files
kaoiji
debug
gomon_spawn

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out